@media  (min-width:1280px) and (max-width:1365.98px) {
  .phone, .screen {
    width: 300px;
  }
  #root {
    width: 416px;
  }
}

@media (min-width:1366px) and (max-width:1439.98px) {
    .phone, .screen {
      width: 300px;
  }
  #root {
    width: 416px;
  }
}

@media (min-width:1440px) and (max-width:1919.98px){
      .phone, .screen {
          width: 300px;
  }
  #root {
    width: 416px;
  }
}